* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
    text-align: center;
}

#home {
    background: #39487b;
}

#home button :hover{
    color:rgb(154, 52, 27) ;
    background-color: rgb(152, 166, 0);
}
#about, #services, #contact {
    background: #e2e2e2;
    margin: 1rem 0;
}

form input, form textarea {
    display: block;
    width: 80%;
    margin: 1rem auto;
    padding: 0.5rem;
}

form button {
    padding: 0.5rem 2rem;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #555;
}

footer {
    background: #333;
    color: #0f0707;
    text-align: center;
    padding: 1rem 0;
}

@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
    }

    form input, form textarea {
        width: 100%;
    }
}
